.image{
    width: 90vh;
    height: 50vh;
}
.logo{
    width: 200px;
}
.top{
    display: flex;
flex-direction: row;
justify-content: space-between;

}

span{

    margin-left:20px;
    padding:5px;
    
}
.btn{
    cursor: pointer;
    padding: 10px;
    background-color: #387ed1;
    color: white;
    border-radius: 3px;
}